/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper{
	position: relative;
    margin: 5px;

	span{
		position: absolute;
		top: 12px;
		z-index: 2;
		right: 6px;
		color: gray;
		font-size: 14px;
	}

}

.validation{
	font-size: 11px;
	color:red;
	padding: 0 10px;
}
