.posts {
    width: 100%;

    .element {
        padding: 20px 0;
        background: white;
    }

    .header {
        display: flex;
        margin-bottom: 3px;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        .text {
            display: flex;
            flex-direction: column;
        }

        span {
            font-size: 11px;
        }

        .imgWrapper {
            margin: 0 10px;
        }
    }

    .imgElementWrapper {
        img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }

    .separator {
        width: 100%;
        height: 5px;
        background-color: #999;
    }

    .actionWrapper {
        display: flex;
        padding: 0 20px;
        justify-content: space-around;

        svg {
            height: 20px;
            width: 20px;
        }
    }
}
.buttonWrapper {
    padding: 3px;
    width: 27px;
    margin: 5px auto;
    border: 1px solid #999;
    border-radius: 8px;
    line-height: 0;

    svg {
        height: 19px;
        position: relative;
        left: -6px;
        fill: #999;
    }
}

.addComment{
    margin: 20px;

    input{
        border-radius: 50px;
        line-height: 20px;
        padding: 5px 16px;
    }
}
