.picSelectorImgWrapper {
  width: 100%;
}
.picSelectorButton {
  width: fit-content;
  margin: auto;
}

.picSelectorImgWrapper {
  margin: auto;
  width: fit-content;
  height: 100vh;
  width: 90%;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.updloader {
  display: none;
}

.picSelectorImgContainer {
  width: 105%;
  height: calc(100vh - 100px);
  margin: 0 0 0 -5px;
  position: relative;
  overflow-x: auto;
}

.buttonWrapper {
  margin: auto 0 20px;
  display: flex;
  justify-content: space-evenly;
}

.picSelectorImgContainer .buttonWrapper button:first-child {
  margin-right: 1rem;
}

.selectedPic {
  object-fit: cover;
  width: 49%;
  height: 200px;
  margin: 0 3px 0 0;
}

.picSelectorImgContainer .buttonWrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}