.picSelectorImgWrapper{
    width: 100%;
  }
  .picSelectorButton {
    width: fit-content;
    margin: auto;
  }
  
.picSelectorImgWrapper {
  margin: auto;
  width: fit-content;
  height: 100vh;
  width: 90%;
  background-color: black;
  display: flex;
  width: 100%;
}

.updloader{
  display: none;
}